.header_dropdowns{
    display: flex;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.header_dropdowns::-webkit-scrollbar {
    display: none;
  }
.web_dropdown{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}
.header_dropdowns Button{
    margin-top: 10px;
    height: 50px;
    font-size: 16px;
}
.latest_container {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
}
.heading_main{
    margin: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 21px;
    color: rgba(78, 78, 78, 0.767);
    position: relative;
    border-bottom: 1px solid #dddddd;
}
.toggle_view{
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    cursor: pointer;
}
.display_column{
    grid-template-columns: repeat(1, 1fr) !important;
}
.search_button{
    cursor: pointer;
    background-color: cornflowerblue;
    color: #ffffff;
    padding: 5px 25px;
    height: 54px !important;
    border-radius: 3px;
    margin-top: -3px;
}
.search_button:hover{
    background-color: #2A2A2A;
}
@media (max-width:800px){
    .header_dropdowns{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .web_dropdown{
        width: 95vw;
        margin: auto;
    }
    .header_dropdowns Button{
        height: 40px;
        width: 95vw;
        background-color: #2A2A2A;
    }
    .latest_container {
        grid-template-columns: repeat(2, 1fr)
    }
}